<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container d-flex justify-content-center align-items-center h-100">
    <div class="jumbotron text-center rounded col-md-8 pt-5">
      <h2 class="text-center text-dark mt-5">All Brands</h2>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Brand Name</th>
          <th scope="col">Created</th>
          <th scope="col">Modified</th>
          <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brand : ${brandInfo}">
          <td th:text="${brand.name}"></td>
          <td th:text="${brand.created}"></td>
          <td th:text="${brand.modified}"></td>
          <td><a class="btn btn-primary" th:href="@{/brands/brand-details/{brand-name}(brand-name=${brand.name})}">Detail info</a></td>
        </tr>
        </tbody>
      </table>

      <!-- Кнопка ADD BRAND чуть ниже таблицы и с цветом -->
      <div class="mt-3">
        <a class="btn btn-success" href="/brands/add">ADD BRAND</a>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
