<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container d-flex justify-content-center align-items-center h-100">
    <div class="jumbotron text-center rounded col-md-8 pt-5">
      <h2 class="text-center text-dark mt-5">All Brands</h2>

      <!-- Таблица для отображения брендов -->
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Brand Name</th>
          <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brand : ${brandInfo}">
          <td th:text="${brand.name}"></td>
          <td>
            <a class="btn btn-primary" th:href="@{/brands/brand-details/{brand-name}(brand-name=${brand.name})}">Detail info</a>
          </td>
        </tr>
        </tbody>
      </table>

      <!-- Кнопка ADD BRAND чуть ниже таблицы и с цветом -->
      <ul class="nav justify-content-center mt-3">
        <li class="nav-item" sec:authorize="hasRole('Admin')">
          <a class="btn btn-success" href="/brands/add">ADD BRAND</a>
        </li>
      </ul>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
