<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Add Offer</h2>
        <form th:action="@{/users/offer-add-u}" th:object="${offerAddDTO}" method="post">

          <!-- Поле для отображения выбранной модели (только для чтения) -->
          <div class="mb-3">
            <label for="modelName">Model Name:</label>
            <input type="text" class="form-control" id="modelName" th:value="${offerAddDTO.modelName}" readonly/>
          </div>

          <!-- Поле для отображения выбранного пользователя (только для чтения) -->
          <div class="mb-3">
            <label for="userName">User Name:</label>
            <input type="text" class="form-control" id="userName" th:value="${offerAddDTO.un}" readonly/>
          </div>

          <!-- Поле для выбора типа двигателя -->
          <div class="mb-3">
            <label for="engineEnum">Engine:</label>
            <select class="form-select" id="engineEnum" name="engineEnum" th:field="*{engineEnum}">
              <option value="GASOLINE">Gasoline</option>
              <option value="DIESEL">Diesel</option>
              <option value="ELECTRIC">Electric</option>
              <option value="HYBRID">Hybrid</option>
            </select>
          </div>

          <!-- Поле для ввода пробега (mileage) -->
          <div class="mb-3">
            <label for="mileage">Mileage:</label>
            <input type="text" class="form-control" id="mileage" name="mileage" th:field="*{mileage}"/>
          </div>

          <!-- Поле для ввода цены (price) -->
          <div class="mb-3">
            <label for="price">Price:</label>
            <input type="text" class="form-control" id="price" name="price" th:field="*{price}"/>
          </div>

          <!-- Поле для ввода года выпуска (year) -->
          <div class="mb-3">
            <label for="year">Year:</label>
            <input type="text" class="form-control" id="year" name="year" th:field="*{year}"/>
          </div>

          <!-- Поле для выбора типа трансмиссии -->
          <div class="mb-3">
            <label for="transmissionEnum">Transmission:</label>
            <select class="form-select" id="transmissionEnum" name="transmissionEnum" th:field="*{transmissionEnum}">
              <option value="MANUAL">Manual</option>
              <option value="AUTOMATIC">Automatic</option>
            </select>
          </div>

          <!-- Поле для ввода URL изображения (imageURL) -->
          <div class="mb-3">
            <label for="imageURL">Image URL:</label>
            <input type="text" class="form-control" id="imageURL" name="imageURL" th:field="*{imageURL}"/>
          </div>

          <div class="mb-3">
            <label for="description">Description :</label>
            <input type="text" class="form-control" id="description" name="description" th:field="*{description}"/>
          </div>

          <!-- Добавьте другие поля формы по необходимости -->

          <button type="submit" class="btn btn-primary">Add Offer</button>
        </form>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
