<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>User Details</h1>
        </div>
        <div class="row bg-light rounded">
          <div class="col-md-6 pt-3">
            <h2>User</h2>
            <h2 th:text="'UserName: ' + ${userDetails.userName}"></h2>
            <h4 th:text="'firstName: ' + ${userDetails.firstName}"></h4>
            <h4 th:text="'lastName: ' + ${userDetails.lastName}"></h4>
            <h4 th:text="'role: ' + ${userDetails.role.getRoleEnum()}"></h4>
            <h4 th:text="'Created: ' + ${userDetails.created}"></h4>
            <h4 th:text="'Modified: ' + ${userDetails.modified}"></h4>
            <div class="align-bottom">
              <a class="btn btn-danger align-bottom" th:href="@{/users/user-delete/{user-userName}(user-userName=${userDetails.userName})}">Delete user</a>
              <a class="btn btn-info align-bottom" th:href="@{/users/update/{userName}(userName=${userDetails.userName})}">Update user</a>
            </div>
          </div>
        </div>>
      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
