<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="jumbotron text-center rounded col-md-8 pt-5">
            <h2 class="text-center text-dark mt-5">All Users</h2>

            <table class="table table-bordered mt-3" style="width: 100%; font-size: 18px;">
                <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${usersInfo}">
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.role.getRoleEnum()}"></td>
                    <td><a class="btn btn-primary" th:href="@{/users/user-details/{user-userName}(user-userName=${user.userName})}">Detail info</a></td>
                </tr>
                </tbody>
            </table>

            <ul class="nav justify-content-center mt-3">
                <li class="nav-item" sec:authorize="hasRole('Admin')">
                    <a class="btn btn-success" href="/users/add">ADD USER</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
