<style>
  .navbar-nav .nav-item {
    margin-right: 33px; /* Уменьшено расстояние между кнопками */
  }

  .navbar-nav .nav-link {
    font-size: 16px; /* Размер шрифта */
  }
</style>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="navbar" id="navbarNavAltMarkup">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/brands/add">ADD BRAND</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/users/add">ADD USER</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/models/add">ADD MODEL</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/offers/add">ADD OFFER</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/brands/all">ALL BRANDS</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/models/all">ALL MODELS</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/users/all">ALL USERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/offers/all">ALL OFFERS</a>
      </li>
    </ul>
  </div>
</nav>
