<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar" class="bg-dark text-white p-3">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="jumbotron text-center rounded col-md-12 align-self-center mt-5">
        <div class="d-flex justify-content-center">
          <h1 class="display-4">Model Details</h1>
        </div>
        <div class="row bg-light rounded mt-4">
          <div class="col-md-6 pt-3">
            <h2 class="display-5">Model</h2>
            <h4 th:text="'Name: ' + ${modelDetails.name}" class="h5"></h4>
            <h4 th:text="'Category: ' + ${modelDetails.category}" class="h5"></h4>
            <h4 th:text="'Start year: ' + ${modelDetails.startYear}" class="h5"></h4>
            <h4 th:text="'End year: ' + ${modelDetails.endYear}" class="h5"></h4>
            <div class="mt-3">
              <ul class="nav">
                <li class="nav-item" sec:authorize="hasRole('Admin')">
                  <a class="btn btn-danger" th:href="@{/models/model-delete/{model-name}(model-name=${modelDetails.name})}">Delete model</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer" class="mt-auto bg-dark text-white p-3"></footer>
</body>
</html>
